<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AutentServlet</servlet-name>
        <servlet-class>Servlet.AutentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Link</servlet-name>
        <servlet-class>Servlet.Link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheServlet</servlet-name>
        <servlet-class>Servlet.RechercheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>Servlet.PanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnulerItemServlet</servlet-name>
        <servlet-class>Servlet.AnnulerItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifHotelServlet</servlet-name>
        <servlet-class>Servlet.ModifHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifVolServlet</servlet-name>
        <servlet-class>Servlet.ModifVolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierDestination</servlet-name>
        <servlet-class>Servlet.ModifierDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutDestination</servlet-name>
        <servlet-class>Servlet.AjoutDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutHotelServlet</servlet-name>
        <servlet-class>Servlet.AjoutHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutVolSevlet</servlet-name>
        <servlet-class>Servlet.AjoutVolSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletItemServlet</servlet-name>
        <servlet-class>Servlet.DeletItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnectServlet</servlet-name>
        <servlet-class>Servlet.DeconnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheVol</servlet-name>
        <servlet-class>Servlet.RechercheVol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheHotel</servlet-name>
        <servlet-class>Servlet.RechercheHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmerServlet</servlet-name>
        <servlet-class>Servlet.ConfirmerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>Servlet.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationServlet</servlet-name>
        <servlet-class>Servlet.ValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackServelt</servlet-name>
        <servlet-class>Servlet.BackServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>Servlet.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lien</servlet-name>
        <servlet-class>Servlet.Lien</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutentServlet</servlet-name>
        <url-pattern>/AutentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Link</servlet-name>
        <url-pattern>/Link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheServlet</servlet-name>
        <url-pattern>/RechercheServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/PanierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnulerItemServlet</servlet-name>
        <url-pattern>/AnnulerItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifHotelServlet</servlet-name>
        <url-pattern>/ModifHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifVolServlet</servlet-name>
        <url-pattern>/ModifVolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierDestination</servlet-name>
        <url-pattern>/ModifierDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutDestination</servlet-name>
        <url-pattern>/AjoutDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutHotelServlet</servlet-name>
        <url-pattern>/AjoutHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutVolSevlet</servlet-name>
        <url-pattern>/AjoutVolSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletItemServlet</servlet-name>
        <url-pattern>/DeletItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnectServlet</servlet-name>
        <url-pattern>/DeconnectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheVol</servlet-name>
        <url-pattern>/RechercheVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheHotel</servlet-name>
        <url-pattern>/RechercheHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmerServlet</servlet-name>
        <url-pattern>/ConfirmerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationServlet</servlet-name>
        <url-pattern>/ValidationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackServelt</servlet-name>
        <url-pattern>/BackServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lien</servlet-name>
        <url-pattern>/Lien</url-pattern>
    </servlet-mapping>
</web-app>
